
html, body{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
}
body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #03C4EB;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #111;
  padding: 20px 0;
  height: 90px;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
  max-height: 50px;
}


.is-sticky #header {
  background: rgba(0, 0, 0, 0.85);
}

.header{
  padding: 80px 100px 60px 100px;
}

#portfolio .subscribe-title {
  font-size: 32px;
  /*color: #fff;*/
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

#portfolio .subscribe-text {
  text-align: center;
  margin-bottom: 40px;
  color: #fff;
}

#portfolio .subscribe-btn-container {
  text-align: center;
  padding-top: 20px;
}

#portfolio .subscribe-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 1.5s;
  margin: 10px;
  border: 2px solid #03C4EB;
  color: #fff;
  background: #03C4EB;
}

#portfolio .subscribe-btn:hover {
  background: none;
  border: 2px solid #03C4EB;
  color: #03C4EB;
}




/* Portfolio Section
--------------------------------*/
#portfolio {
background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/cast.jpg) fixed center center;
    background-size: cover;
    
}

#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 50em;
  width: 100%;
  display: inline-block;
  overflow: none;
  border-radius: 15px;
  margin: auto;
}


#portfolio .portfolio-item .details {
  height: 50em;
  background: #fff;
  /*display: table-cell;*/
  vertical-align: middle;
  opacity: 0;
  transition: 3s;
  text-align: center;
  word-wrap: break-work;
}

#portfolio .portfolio-item .details h4 {
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333;
  font-size: 4em;
  padding-top: 2em;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #333333;
  font-size: 1.4em;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

#portfolio .portfolio-item:hover .details {
  border-radius: 15px;
  opacity: 0.9;
}

#portfolio .portfolio-item:hover .details h4 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.horizontal-slide {
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.horizontal-slide .item {
  display: inline-block;
  float: none;
  width: 22em;
}

.item { 
  display: inline-block;
}


.aboutme-header {

 background-color: #f0f0f0;
 padding: 80px 0 80px 0; 
}



/* Testimonials Section
--------------------------------*/
#testimonials {
  color: rgb(102, 102, 102)

}

#testimonials .profile {
  text-align: center;
}

#testimonials .profile .pic {
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
  width: 260px;
}

#testimonials .profile .pic img {
  margin-left: -120px;
  max-width: 250%;

}

#testimonials .profile h4 {
  font-weight: 700;
  color: #03C4EB;
  margin-bottom: 5px;
}

#testimonials .profile span {
  color: #333333;
}

#testimonials .quote {
  position: relative;
  background: #fff;
  padding: 60px;
  margin-top: 40px;
  font-size: 16px;
  font-style: italic;
  border-radius: 5px;
}

#testimonials .quote b {
  display: inline-block;
  font-size: 22px;
  left: -9px;
  position: relative;
  top: -8px;
}

#testimonials .quote small {
  display: inline-block;
  right: -9px;
  position: relative;
  top: 4px;
}

