<section id="testimonials" class="aboutme-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="section-title">Robb Marsee</h1>
        <div class="section-title-divider"></div>
        <h2 class="section-description">A software engineer with a passion for problem solving and developing applications that help enhance user's lives.</h2>
      </div>
    </div>
    
         <div class="row">
      <div class="col-md-3">
        <div class="profile">
          <div class="pic"><img src="img/robb.jpg" alt=""></div>

            <div class="social">
            <a href="mailto:robb.marsee@gmail.com?subject=Fantasy Drag Race Inquiry"><i class="fa fa-envelope" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/robb-marsee/"><i class="fa fa-linkedin"></i></a>
              <a href="https://github.com/ro-double-b"><i class="fa fa-github"></i></a>


            </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="quote">
          <b>Technical Skills</b>
          <br></br>
          GENERAL – Software Development, JavaScript, ES6, JQuery, HTML, CSS
          <br></br>
          FRONTEND – AngularJS, React, React Native, React Router, Redux, Backbone
          <br></br>
          BACKEND – Node.js, Express, MongoDB, PostgreSQL MySQL, Redis
 
          <small></small>
        </div>
      </div>
    </div>
      
    </div>  
  </div>
</section>