<section id="ranking" class="header ranking-header" ng-init='init()'>
  <div id='contain-table' class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Rankings</h3>
        <div class="section-title-divider"></div>
        <!-- <p class="section-description">{{userInfo}}</p> -->
      </div>
    </div>
    <div class="results horizontal-slide ">
      <form>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon"><i class="fa fa-search"></i></div>
            <input type="text" class="form-control" placeholder="Search a user" ng-model="searchUser">
          </div>      
        </div>
      </form>
      <table class="table results col-md-11">
        <tr>
        <th></th><th></th>
        <th colspan='13' align="center">Week:</th>
        <th></th>
        </tr>
        <tr>
          <th ng-repeat="head in heading">{{head}}</th>
        </tr>
        <tr ng-repeat="userData in ranking | filter:searchUser | orderBy: '-totalPoints'">
          <td>{{$index + 1}}</td>
          <td>{{userData.username}}</td>
          <!-- <td ng-repeat='weekTotal in userData.totals track by $index'>{{weekTotal}}</td> -->
          <td>{{userData.weeklyTotalsArr[0] + userData.tootTotalsArr[0] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[1] + userData.tootTotalsArr[1] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[2] + userData.tootTotalsArr[2] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[3] + userData.tootTotalsArr[3] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[4] + userData.tootTotalsArr[4] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[5] + userData.tootTotalsArr[5] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[6] + userData.tootTotalsArr[6] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[7] + userData.tootTotalsArr[7] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[8] + userData.tootTotalsArr[8] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[9] + userData.tootTotalsArr[9] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[10] + userData.tootTotalsArr[10] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[11] + userData.tootTotalsArr[11] || 0}}</td>
          <td>{{userData.weeklyTotalsArr[12] + userData.tootTotalsArr[12] || 0}}</td>
          <td>{{userData.finalTotalsArry || 0}}
          <td >
            {{userData.totalPoints || 0}}
          </td> 
        </tr>
      </table>
    </div>
    <h6>*Rankings are refreshed twice a week.  Once after the show airs and again after Raja and Raven release their Toots and Boots.</h6  
  </div>
</section>