<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="section-title">Rules</h3>
        <div class="section-title-divider"></div>
        <p class="section-description">Fantasy Drag Race is a game you can play throughout season 9 of RuPaul's Drag Race.  Selections are made each week and you can earn points each episode.  Points will be tallied and you can see how well you rank among other users.
          <br><br>
        Log in each week and guess how each of the queens will do on the following episode.  Also judge each of the girls look from the previous episode.  Additionally, select who you think will make it to the top and root for those queens all season long.       
          <br><br>
          <br><br>
        </p>
      </div>
    </div>
      
    <div class="row">
      <div class="service-item section-text">

        <div class="service-item text-center">
      <h2  class="service-title text-center">Three Ways to earn points</h2>
      </div>
      
      <div class="service-item text-center">      

      <div class="service-item text-center">
        <h3 class="service-title">1: Guess Who Will Win/Lose Each Episode</h3>
        <p class="service-description">Before each episode airs, select the two queens that you think will make it to the top and the two that will be lip-syncing this week.  Since the episode has not aired yet, selections are based on past performances and what you think will happen on the show.  Each correct selection gets you 25 points.  Selections must be made before the airing of the episode each Friday at 9AM EST.
        </p>
      </div>
        
      <div class="service-item text-center">  
        <h3 class="service-title">2: Judge The Looks Of The Runway</h3>
        <p class="service-description">After you watched the episode, judge each of the girl's looks.  If you liked what that queen was wearing, give her a "Toot", and if you did not like the look give her a "Boot".  Since these selections are based on the previous episode, these selections are based on what you thought of the girls looks.    

        Each week Raja and Raven have a YouTube video where they judge the looks of the runway called Fashion Photo Ruview.  Check it out <a href="https://www.youtube.com/watch?v=F99zYVQ-av8" target="_blank">here</a>.  Every selection that matches either Raja or Raven earns you an additional 5 points.  Selections must be made before Thrusday at 9AM EST.</p>
      </div>

      <h3 class="service-title text-center">3: Choose Who Will Make It To The Top</h3>
        <p class="service-description text-center">Within the first three weeks you can select which queens you think will make it to the top three and which one will win Miss Congeniality.  Each correct selection gets 100 points, and an additional 100 points if you select the winner.  Selections must be made before the airing of the fourth episode, and can be changed until April 14th at 5PM PST.</p>
      </div>

    </div>
      <h6 class='rules-exception'>*Rules subject to change based on what Ru has up his sleve this season</h6>
  </div>  
</section>
