<header id="header-profile">

<section id="portfolio">



  <div>
    <div ng-repeat="queen in queens track by $index">
    
        <a class="{{queen.appID}} portfolio-item ui-state-default" style="background-image: url(img/{{queen.photo}});" href="">
          <div class="details">
            <h4>{{queen.name}}</h4>
            <span>{{queen.description}}</span>
            <span>{{queen.stack}}</span>

            <img src="img/{{queen.photo2}}" height="300px" opacity="1">
          </div>
        </a>
  </div>


</div>







